.UploadImage {
    width: 15px;
    height: 15px;
    margin: 10px auto;
  }
  
  .text-center {
    font-size: 20px;
    display: flex;
    height: 50%;
    justify-content: left;
    align-content: center;
    text-align: center;
  }
  
  /* Dropzone */
  .dropzone {
    padding: 30px;
    height: 25px;
    width: 150px;
    border: 5px solid black;
    outline: none;
    cursor: pointer;
  }
  .dropzone-active {
    background-color: #f1e2ff;
    border: 5px solid #2fd7b5;
  }
  .dropzone-content {
    align-self: center;
    font-size: 10px;
  }
  
  /* Images */
  .file-list {
    margin: 20px;
    height: 15px;
    width: 15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .file-item {
    width: 50px;
    height: 50px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
   
    
  }
  .file-img {
    width: 50px;
    height: 50px;
  }
  