.List {
    width: auto;
    height: auto;
    overflow: auto;
    align-content: center;
    
}
.root {
   
    display: 'flex';
    flex-Wrap: 'wrap';
    justify-Content: 'space-around';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
   
    /* example padding, font-size, background, etc */
    padding: 10px;
  }
  .root::-webkit-scrollbar {
    display: none;
  }
  .ImageSize{
      height: 300px;
      width: 280px;
  }
  .Search{
      justify-content: center;

  }
.deleteButton{
    align-content: flex-end;  text-decoration-color: white;
}

.ScrollBarHide{
        
    overflow: hidden;

}


