.App {
  height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flexcontainer {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
 flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flexitem {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 15px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.topButtons {
  justify-content: center;  
  padding: 15px;
  width: auto;
  height: auto;
  display:inline-block;   
      
}

.btn{
  text-align: center;
  display: inline-block;
  margin: 10x;
  padding:10px;
}
.KitchenEquipmentButton{
 
  display:inline-block;
}

.FoodItemButton{
  
  display:inline-block;
}
.RecipeButton{

  display:inline-block;
}

.RecipePageLists{
  display:inline-block;
  padding: 15px;
  width: auto;
  height: auto;
}
.RecipeIngredientsList{
  display: inline-block;
  width: 500px;
  height: auto;
}
.KitchenEquipmentList{
  z-index:0 ;
  width: auto;
  margin-top:15px;
  display: flex;
  } 
  .FoodItemList{
    margin:15px;
    z-index:0 ;
       } 
.RecipeStepList{
  display: inline-block;
  width: 500px;
  height: auto;
  align-items: flex-start;
}

.HomeButton{
  margin: 10px;
  padding: 10px;
  align-content: center;
  right: 750px;
}
.RecipePageImage{
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding-top: 30px;
}
.RecipePageCompletedButton{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50%;
  padding-left: 50%;
  
}
.RecipePage{
  padding-right: 30%;
  padding-left: 30%;
}



.phantomStyle {
  display: "block";
  padding: "20px";
  height: "60px";
  width: "100%";
};

.footer {

  color: white;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}
.Modal {
  top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
